<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>AX - Demo</title>

    <!-- Bootstrap core CSS -->
    <link href="./content/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
        }

        .starter-template {
            padding: 40px 15px;
            text-align: center;
            color: "lightslategray";
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div id="descriptionContainer" class="container">
        <div class="starter-template">
            <p class="lead">Description</p>
        </div>
    </div>
    <!-- /.container -->

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Panel with panel-default class</div>
            <div class="panel-body">Panel Content</div>
        </div>
        <div id="axContainer" width=100 height=100>
            <object id="DemoActiveX" classid="clsid:DEDF3A2C-5D5F-411A-A7E0-589870C995B9" codebase="StillWaitng.cab"></object>
        </div>
        <div>
            <p id="ax_info"></p>
        </div>
    </div>

    <script src="./content/js/jquery.min.js"></script>
    <script src="./content/js/bootstrap.min.js"></script>
    <script src="./content/js/ie10-viewport-bug-workaround.js"></script>
    <script src="./content/js/bowser.min.js"></script>
    <script src="./content/js/axframe.js"></script>
    <script type="text/javascript">    
        if(detectActiveX())
            //addAxElement();
            ;
    </script>
</body>
</html>